@layer base {
  body {
    @apply font-poppins;
  }
}

@layer utilities {
  .font-bebas {
    font-family: "Bebas Neue", sans-serif !important;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}
